*.pyc
.idea
.settings

apps/settings/local.py
ttxs_yw/settings/local.py
apps/build
media
logs
env
docs/_build

*.orig
*.swp
*.DS_Store
*.bak
*.org
dump.rdb
DS_Store
.idea
park_vue/node_modules/*
./park_vue/npm-debug.log
./park_vue/.editorconfig
./park_vue/dist/
.cache
.env

/apps/celerybeat-schedule.db
logs
static
