*.pyc
.idea
.settings

apps/settings/local.py
ttxs_yw/settings/local.py
apps/build
media
logs
env
docs/_build

*.orig
*.swp
*.DS_Store
*.bak
*.org
dump.rdb

.cache
.env

/apps/celerybeat-schedule.db
logs
static
